<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <div class="card">
                <div class="card-title">
                    <h3 class="text-center">Admin Registration</h3>
                </div>
                <form action="" class="form-group">
                   
                    <input type="text" class="form-control" placeholder="Enter Your name">
                    <input type="text" class="form-control" placeholder="Enter Your email">
                    <input type="text" class="form-control" placeholder="Enter Your password">
                    <input type="text" class="form-control" placeholder="Enter Your Ph.number">
                   
                    <div class="text-center mt-3">
                        <button class="btn btn-light">Signup</button> 
                    </div>
               
                </form>
            </div>
        </div>
    </div>
</div>