<section class="about pb-5">
    <h3 class="text-center">About Us</h3>
    <hr>

    <div class="container">
        <div class="row mt-5">
            <div class="col-xl-7">
                <div class="title">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias nisi aliquam dolore necessitatibus odit, hic ipsam, sed illo natus quisquam, maiores officia sint? Reprehenderit architecto ipsum voluptatem nihil, tempore voluptate.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fuga unde possimus et dolorem asperiores doloribus maxime ad placeat, quod quae impedit nihil repellendus quo mollitia similique sapiente sint id?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fuga unde possimus et dolorem asperiores doloribus maxime ad placeat, quod quae impedit nihil repellendus quo mollitia similique sapiente sint id?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fuga unde possimus et dolorem asperiores doloribus maxime ad placeat, quod quae impedit nihil repellendus quo mollitia similique sapiente sint id?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fuga unde possimus et dolorem asperiores doloribus maxime ad placeat, quod quae impedit nihil repellendus quo mollitia similique sapiente sint id?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fuga unde possimus et dolorem asperiores doloribus maxime ad placeat, quod quae impedit nihil repellendus quo mollitia similique sapiente sint id?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fuga unde possimus et dolorem asperiores doloribus maxime ad placeat, quod quae impedit nihil repellendus quo mollitia similique sapiente sint id?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fuga unde possimus et dolorem asperiores doloribus maxime ad placeat, quod quae impedit nihil repellendus quo mollitia similique sapiente sint id?
                    </p>
                </div>
            </div>

            <div class="col-xl-5">


                <marquee behavior="alternate" scrollamount="5"><img style="width: 500px;" src="../../assets/images/logo_transparent.png" alt=""></marquee>

             


             
            </div>
        </div>
    </div>
</section>
