<!-- past work -->

<section class="work pb-5">
    <h3 class="text-center">Our Journey</h3>
    <hr>

<div class="container-fluid">

 <div class="row mt-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="d-flex flex-row">
            <marquee behavior="scroll" direction="left" scrollamount="10">
            <figure class="figure mr-5">
                <img src="../../assets/images/job1.jpg\" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption text-center">2 Years Journey With <strong style="color: #1bb1dc;">Health City</strong> (Lucknow).</figcaption>
              </figure>

              <figure class="figure  mr-5">
                <img src="../../assets/images/job2.jpg\" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption text-center">1 Years Journey With <strong style="color: #1bb1dc;">Hind</strong> (Lucknow).</figcaption>
              </figure>

              <figure class="figure  mr-5">
                <img src="../../assets/images/job3.jpg\" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption text-center">1 Years Journey With <strong style="color: #1bb1dc;">Sekhar</strong> (Lucknow).</figcaption>
              </figure>

              <figure class="figure mr-5">
                <img src="../../assets/images/job5.jpg\" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption text-center">2 caption for the above <strong style="color: #1bb1dc;"> Tiger Logistics</strong> (Mumbai).</figcaption>
              </figure>
            </marquee>
         </div>

        

        
    </div>


 </div>
</div>
</section>

