<app-admin-afterlogin></app-admin-afterlogin>
<div class="card mt-5 bg-light">
<div class="main d-flex flex-column">
<div class="container">

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-md-d-flex flex-row">

            <!-- <table class="table table-bordered table-hover">
                <thead>
                  <tr class="table-warning">
                    <th scope="col">S.no</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Query</th>
                    <th scope="col">Action</th>

                    

                  </tr>
                </thead>
                <tbody>
                  <tr class="table-info">
                    <th scope="row">1</th>
                    <td>Saket</td>
                    <td>saketbari2015@gmail.com</td>
                    <td>9336196700</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam ex rem omnis, assumenda cum ipsa consequatur inventore placeat suscipit natus beatae dolorum alias exercitationem maiores corporis labore, fugit qui.</td>
                    <td> <a href="#">
                        <img src="../../../assets/images/delete.png" alt="">
                      </a></td>
                  </tr>

                  <tr class="table-info">
                    <th scope="row">1</th>
                    <td>Saket</td>
                    <td>saketbari2015@gmail.com</td>
                    <td>9336196700</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam ex rem omnis, assumenda cum ipsa consequatur inventore placeat suscipit natus beatae dolorum alias exercitationem maiores corporis labore, fugit qui.</td>
                    <td> <a href="#">
                        <img src="../../../assets/images/delete.png" alt="">
                      </a></td>
                  </tr>

                  <tr class="table-info">
                    <th scope="row">1</th>
                    <td>Saket</td>
                    <td>saketbari2015@gmail.com</td>
                    <td>9336196700</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam ex rem omnis, assumenda cum ipsa consequatur inventore placeat suscipit natus beatae dolorum alias exercitationem maiores corporis labore, fugit qui.</td>
                    <td> <a href="#">
                        <img src="../../../assets/images/delete.png" alt="">
                      </a></td>
                  </tr>

                  <tr class="table-info">
                    <th scope="row">1</th>
                    <td>Saket</td>
                    <td>saketbari2015@gmail.com</td>
                    <td>9336196700</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam ex rem omnis, assumenda cum ipsa consequatur inventore placeat suscipit natus beatae dolorum alias exercitationem maiores corporis labore, fugit qui.</td>
                    <td> <a href="#">
                        <img src="../../../assets/images/delete.png" alt="">
                      </a></td>
                  </tr>
      
                </tbody>
              </table> -->

              <div class="table-wrapper-scroll-y my-custom-scrollbar">

                <table class="table-responsive table-bordered table-striped mb-0">
                  <thead>
                    <tr class="bg-info">
                      <th scope="col">S.No</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Query</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores tempore explicabo velit magni laudantium, dolor officiis optio laborum natus deserunt necessitatibus unde odio et, sapiente delectus pariatur ab, facere illo.</td>
                      <td> <a href="#">
                        <img src="../../../assets/images/delete.png" alt="">
                      </a></td>
                    </tr>

                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores tempore explicabo velit magni laudantium, dolor officiis optio laborum natus deserunt necessitatibus unde odio et, sapiente delectus pariatur ab, facere illo.</td>
                      <td> <a href="#">
                        <img src="../../../assets/images/delete.png" alt="">
                      </a></td>
                    </tr>

                    
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores tempore explicabo velit magni laudantium, dolor officiis optio laborum natus deserunt necessitatibus unde odio et, sapiente delectus pariatur ab, facere illo.</td>
                      <td> <a href="#">
                        <img src="../../../assets/images/delete.png" alt="">
                      </a></td>
                    </tr>

                    
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores tempore explicabo velit magni laudantium, dolor officiis optio laborum natus deserunt necessitatibus unde odio et, sapiente delectus pariatur ab, facere illo.</td>
                      <td> <a href="#">
                        <img src="../../../assets/images/delete.png" alt="">
                      </a></td>
                    </tr>

                    
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores tempore explicabo velit magni laudantium, dolor officiis optio laborum natus deserunt necessitatibus unde odio et, sapiente delectus pariatur ab, facere illo.</td>
                      <td> <a href="#">
                        <img src="../../../assets/images/delete.png" alt="">
                      </a></td>
                    </tr>

                    
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores tempore explicabo velit magni laudantium, dolor officiis optio laborum natus deserunt necessitatibus unde odio et, sapiente delectus pariatur ab, facere illo.</td>
                      <td> <a href="#">
                        <img src="../../../assets/images/delete.png" alt="">
                      </a></td>
                    </tr>
                    
                  </tbody>
                </table>
              
              </div> 
       
    </div>
</div>

</div>
</div>
</div>